body {
  color:#4A4A4A;
  font-family: 'Roboto', sans-serif;
  letter-spacing: 2px;
  height: 100vh;
  display: flex;
  flex-direction: column; 
 }

header {
  font-size: 12px;
  background-color: white;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 50px;
}

.AddCv {
  display: block;
}

.App nav {
  display: flex;
  justify-content: space-evenly;
}

.linkHome {
  text-decoration: none;
  color: rgb(31, 30, 30);
  font-weight: bold;
}

label {
  display: block;
}

.homepage{

    background-image: url("https://images.unsplash.com/photo-1521189510502-3dbdb40d8bc0?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1498&q=80");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    height : 115vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

.logoutButton {
  padding: 10px 30px;
  border-radius: 3px;
  box-shadow: 0 1px 1px 0 rgba(0,0,0,0.2), 0 1px 1px 0 rgba(0,0,0,0.19);
  background-color: #192231;
  color: white;
  font-weight: bold;

}

input[type=text],
[type=url] {
  display: block;
  width: 95%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
}

form {
  margin-left: 25%;
  margin-top: 200px;
  background-color: #98878f;
  border-radius: 3px;
  padding: 20px;
  width: 40%;
}

form button {
  display: flex;
  justify-content: center;
}

.homepageDiv {
  padding-top: 25%;
  display: flex;
  flex-direction: column;
}

.homepageDiv img {
  width: 20%;
}

.homepageDiv p {
  width: 50%;
}

.divSession {
  display: block;
}

  /* CANDIDATES PAGE */
  .candidates-page {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  font-size: 15px;
  background-color: #F8F8F8;
  color: #4A4A4A;
}

.candidatesJobs {
  display: flex;
  flex-direction: column;
  height: 550px;
  margin: 3% 10%;
  margin-top: 10rem;
  line-height: 1.5;
  font-size: 13px;
}